<h1>Swiper</h1>

<div class="container">
  <div style="display:flex">
    <div id="prev">Prev</div>
    <div id="next">Next</div>
  </div>
  <div id="slider" class="swipe">
    <div class="swipe-wrap">
      <%= render partial: "page", locals: { page: @page - 1 } %>
      <%= render partial: "page", locals: { page: @page } %>
      <%= render partial: "page", locals: { page: @page + 1 } %>
    </div>
  </div>
</div>
